body {
  background-color: #ff9966;
  font-family: sans-serif;
}

header {
  background-color: #99ccff;
  width:300px;
  text-align: center;
}

.container {
  background-color: #99ccff;
  width:750px;
  color: #000;
}

section {
  background-color: #ff66ff;
  width: 200px;
  color: 000;

aside {
  background-color: #ff66ff;
  width:300px;
  color: 000;
}
