body {
  background-color: #ff9966;
  font-family: sans-serif;
}

header {
  background-color: #99ccff;
  width:300px;
  margin 400px 400px;
  text-align: center;
}

.container {
  background-color: #99ccff;
  width:80%;
}

section {
  float: left;
  background-color: #ff66ff;
  width: 70%;
  
aside {
  float: right;
  background-color: #ff66ff;
  width:25%;
}
