body {
  background-color: #ff9966;
  font-family: sans-serif;
}
  
p {
  font-color: #fff;
  background-color: #000;
  padding: 50px 25px;
  margin: 50px 25px;
}

.ftext {
  background-color: #99ccff;
  width:300px;
}
